.question-box {
  height:800px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer-box {
  height:800px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.url {
  height: 30px;
  width: 300px;
  margin: 20px;
}

.time {
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}

.text {
  height: 100px;
  width: 300px;
  resize:none;
  margin-bottom: 20px;
}

.question-select{
  height: 30px;
  width: 250px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.back-btn {
  display: block;
  width: 100px;
  padding: 10px;
  border: 1px solid white;
  background-color: skyblue;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.new_user {
  height:800px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field {
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}